﻿@{
    bool loggedIn = false;
    try {
        if(!string.IsNullOrEmpty(Session["username"].ToString())) {
            loggedIn = true;
        } else {
            Session["username"] = "";
        }
    } catch {
        loggedIn = false;
    }
    
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title - Wedding Gifts!</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/gifts.cshtml"><img src="~/Images/wedding-logo.png" alt="logo" height=100px></a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (loggedIn) {
                            <text>
                                Hello, <a class="email" href="~/Profile" title="Manage">@Session["username"].ToString()</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </form>
                            </text>
                        } else {
                            <ul>
                                <li><a href="~/Account/Register">Register</a></li>
                                <li><a href="~/Account/Login">Log in</a></li>
                            </ul>
                        }
                    </section>
                    <nav>
                        @if (loggedIn) {
                            <ul id="menu">
                                <li><a href="~/Profile">Profile</a></li>
                                <li><a href="~/Weddings">Weddings</a></li>
                                <li><a href="~/Gifts">Gifts</a></li>
                            </ul>
                        }
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @(DateTime.Now.Year == 2015 ? "2015" : "2015 - " + DateTime.Now.Year) :: Someone else's ASP.NET Web Page</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>